/* 全局头部导航 */
/* logo样式风格 */

/* 全局头部导航 */


/* 全局底部导航 */
.footer_main{
    color: #c6c6c6;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: black;
}
.footer_main{
    color: #c6c6c6;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: black;
}

.footer-logo{
    padding-left: 1.5rem;
}
.footer_right-input input{
    background-color: black;
    color: #7d7d7d;
}
.footer_right-input button{
    background-color: #3b4d5c;
    
}
.footer_right-input span{
    color: #c6c6c6;
    
}

/* 全局底部导航 */
/* 全局颜色 */
.white-bgcolor{
    background-color: white;
}
.am-grid-color{
    background-color: #f8f8f8;
}

/*分页*/
.am-pagination-size li a{
    padding: 4px 10px;
    color: #034f86;
}
.am-pagination > .am-active > a,
.am-pagination > .am-active > a:hover,
.am-pagination > .am-active > a:focus {
    background-color: #034f86;
    border-color: #034f86;
}

/*加载符号*/
.centerMe {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 25px;
    width: 10px;
    border-radius: 10%;
    background: #2c3e50;
    border-top-color: #2980b9;
    -webkit-animation: fade2 1s infinite;
    animation: fade2 1s infinite;
    -webkit-transition: background .2s;
    transition: background .2s;
}
.loading:after, .loading:before {
    content: '';
    position: absolute;
    display: block;
    height: 20px;
    width: 10px;
    background: #2c3e50;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -15px;
    border-radius: 10%;
    -webkit-animation: fade1 1s infinite;
    animation: fade1 1s infinite;
    -webkit-transition: background .2s;
    transition: background .2s;
}
.loading:before {
    left: 15px;
    -webkit-animation: fade3 1s infinite;
    animation: fade3 1s infinite;
}

@-webkit-keyframes fade1 {
    0% {
        background: #2980b9;
    }
}

@keyframes fade1 {
    0% {
        background: #2980b9;
    }
}
@-webkit-keyframes fade2 {
    33% {
        background: #2980b9;
    }
}
@keyframes fade2 {
    33% {
        background: #2980b9;
    }
}
@-webkit-keyframes fade3 {
    66% {
        background: #2980b9;
    }
}
@keyframes fade3 {
    66% {
        background: #2980b9;
    }
}