/* 全局头部导航 */
/* logo样式风格 */

/* 全局头部导航 */


/* 全局底部导航 */
.footer_main{
    color: #c6c6c6;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: black;
}
.footer_main{
    color: #c6c6c6;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: black;
}

.footer-logo{
    padding-left: 1.5rem;
}
.footer_right-input input{
    background-color: black;
    color: #7d7d7d;
}
.footer_right-input button{
    background-color: #3b4d5c;
    
}
.footer_right-input span{
    color: #c6c6c6;
    
}

/* 全局底部导航 */
/* 全局颜色 */
.white-bgcolor{
    background-color: white;
}
.am-grid-color{
    background-color: #f8f8f8;
}