.index-content-bg{
    padding-top: 11rem;
    background-image: url("../images/bg_photo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* min-height: 50rem; */
    padding-bottom: 10%;
}
.content-devider{
    margin-top: 15rem;
    margin-bottom: 4rem;
    border-color: #898176;
}
.index-see-more a{
    color: #ffffff;

}
.footer_main{
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: black;
}

.footer-logo{
    padding-left: 1.5rem;
}
.footer_right-input input{
    background-color: black;
    color: #7d7d7d;
}
.footer_right-input button{
    background-color: #3b4d5c;
    
}
.footer_right-input span{
    color: white;
    
}
.am-text-ir {
    display: block;
    margin-right: 10px;
    height: 50px;
    width: 125px;
    background-color: black;
    background: url("../images/sitemap_logo.png") no-repeat left center;
    -webkit-background-size: 125px 24px;
    background-size: 125px 24px;
  }