<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 开发版本 -->
  <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
  <!-- 线上压缩版本 -->
  <!--<link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/common.css">
  <title>siteMap</title>
</head>

<body>

  <header class="am-topbar am-topbar-fixed-top">
    <div class="am-u-sm-8  am-u-sm-centered">
      <h1 class="am-topbar-brand">
        <img src="images/sitemap_logo.png" alt="">
      </h1>

      <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
        <span class="am-sr-only">导航切换</span>
        <span class="am-icon-bars"></span>
      </button>

      <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
          <li class="am-active">
            <a href="./index.html">首页</a>
          </li>
          <li class="am-dropdown" data-am-dropdown>
            <a class="am-dropdown-toggle" data-am-dropdown-toggle>
              500强
              <span class="am-icon-caret-down"></span>
            </a>
            <ul class="am-dropdown-content">
              <li>
                <a onclick="getTagData('福布斯','TOP500','1','500强')">福布斯TOP500</a>
              </li>
              <li>
                <a onclick="getTagData('财富','TOP500','1','500强')">财富TOP500</a>
              </li>
              <li>
                <a onclick="getTagData('工信部','中企500','1','500强')">工信部中企500</a>
              </li>
            </ul>
          </li>
          <li class="am-dropdown" data-am-dropdown>
            <a class="am-dropdown-toggle" data-am-dropdown-toggle>
              排行榜
              <span class="am-icon-caret-down"></span>
            </a>
            <ul class="am-dropdown-content">
              <li>
                <a onclick="getTagData('住建部','房企100强','1','排行榜')">房企100强</a>
              </li>
            </ul>
          </li>
          <li class="am-dropdown" data-am-dropdown>
            <a class="am-dropdown-toggle" data-am-dropdown-toggle>
              交易所
              <span class="am-icon-caret-down"></span>
            </a>
            <ul class="am-dropdown-content">
              <li>
                <a onclick="getTagData('','上海证券交易所','2','交易所')">上海证券交易所</a>
              </li>
              <li>
                <a onclick="getTagData('','深圳证券交易所','2','交易所')">深圳证券交易所</a>
              </li>
              <li>
                <a onclick="getTagData('','香港证券交易所','2','交易所')">香港证券交易所</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">新三板</a>
          </li>
          <li>
            <a href="./html/newsCenter.html">新闻中心</a>
          </li>
        </ul>
        <div class="am-topbar-right">
          <!--未登录-->
          <ul class="am-nav am-nav-pills am-topbar-nav" style="display: none;" id="isLogin">
            <li>
              <a href="./login.html">登陆</a>
            </li>
            <li>
              <a href="./html/register.html">注册</a>
            </li>
          </ul>
          <!--已登录-->
          <ul class="am-nav am-nav-pills am-topbar-nav" style="display: none;" id="isLogout">
            <li>
              <a href="./html/userCenter.html" id="vipName"></a>
            </li>
            <li>
              <a id="logout">退出</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- 导航结束 -->

  <!-- 内容物开始 -->
  <div class="am-g  am-container-fluid index-content-bg">
    <div class="am-u-sm-8 am-u-sm-centered" id="main">
      <div class="am-u-sm-centered am-text-center">
        <p class="am-center"> <img src="images/MakingInsightmorepowerful..png" alt=""></p>
        <p class="am-center"> <img src="images/Connectwithyouraudiencethroughstoriespeoplelove..png" alt=""></p>
      </div>
      <div class="am-input-group am-input-group-lg am-u-sm-9 am-u-sm-centered">
        <input type="text" class="am-form-field" v-model="key_pre" @keydown.enter="search()" placeholder="请输入企业名称">
        <span class="am-input-group-btn">
          <button class="am-btn am-btn-primary" type="button" @click="search()">搜索</button>
        </span>
      </div>
      <hr class="content-devider">
      <div class="index-see-more am-fr ">
        <a href="html/newsCenter.html">READ MORE <i class="am-icon-angle-double-right am-icon-fw"></i> </a>
      </div>
      <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3  am-gallery-overlay" data-am-gallery="{ pureview: false }">

        <li v-for="(pop,index) in newspop" v-if="index<3">
          <div class="am-gallery-item" @click="enteringDetail(pop.id)">
            <a>
              <img :src="pop.img" alt="" />
              <h3 class="am-gallery-title" v-text="pop.title"></h3>
            </a>
          </div>
        </li>

      </ul>

    </div>
  </div>
  <!-- 内容物结束 -->
  <!-- 页脚 -->
  <!--===========layout-footer================-->
  <div class="layout-footer">
    <div class="footer ">
      <div class="footer--bg"></div>
      <div class="footer-inner">
        <div class="container ">
          <div class="footer_main">
            <div class="am-g am-u-sm-8 am-u-sm-centered">
              <p class="footer_about--text footer-logo"> <img src="./images/foot_gomine_logo.png" alt=""></p>
              <div class="am-u-md-6">
                <div class="footer_main--column">

                  <div class="footer_about">
                    <p class="footer_about--text">
                      Rm.B-702,Bldg.1,Zhubang 2000 Business Center, No。100 Balizhuang Xili,
                      Chaoyang District,Beijing
                    </p>
                    <p class="footer_about--text">
                      <a href=""><i class="am-icon-phone"></i> +86-10-87510736</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href=""><i class="am-icon-envelope-o"></i> marketing@gomine.cn</a>
                    </p>
                    <p class="footer_about--text">Copyright©GOMINE.CN All right Reserved.京ICP备05075516号</p>
                  </div>
                </div>
              </div>

              <div class="am-u-md-6 ">
                <div class="footer_right--column">
                  <strong>
                    <p class="footer_about--text"> subscribe for upgrates</p>
                  </strong>
                  <div class="footer_about">
                    <p class="footer_about--text">
                      <div class="am-input-group am-btn-group-lg footer_right-input ">
                        <input type="text" class="am-form-field" placeholder="enter your email address">
                        <span class="am-input-group-btn">
                          <button class="am-btn am-btn-default " type="button"><span class="am-icon-envelope-o"></span>
                          </button>
                        </span>
                      </div>
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./js/jquery/jquery-3.3.1.min.js"></script>
  <script src="./js/vue/vue.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>