<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 开发版本 -->
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.css">
  <!-- 线上压缩版本 -->
  <!-- <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css"> -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/labelSearch.css">
  <title>搜索列表</title>
</head>

<body>
  <!-- 头部导航 -->
  <header class="am-topbar am-topbar-fixed-top">
    <div class="am-u-sm-8  am-u-sm-centered">
      <h1 class="am-topbar-brand">
        <img src="../images/sitemap_logo.png" alt="">
      </h1>

      <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}">
        <span class="am-sr-only">导航切换</span>
        <span class="am-icon-bars"></span>
      </button>

      <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li>
                <a href="../index.html">首页</a>
            </li>
            <li class="am-dropdown" data-am-dropdown>
              <a class="am-dropdown-toggle" data-am-dropdown-toggle>
                500强
                <span class="am-icon-caret-down"></span>
              </a>
              <ul class="am-dropdown-content">
                <li>
                  <a onclick="innerPageGetTagData('福布斯','TOP500','1','500强')">福布斯TOP500</a>
                </li>
                <li>
                  <a onclick="innerPageGetTagData('财富','TOP500','1','500强')">财富TOP500</a>
                </li>
                <li>
                  <a onclick="innerPageGetTagData('工信部','中企500','1','500强')">工信部中企500</a>
                </li>
              </ul>
            </li>
  
            <li class="am-dropdown" data-am-dropdown>
              <a class="am-dropdown-toggle" data-am-dropdown-toggle>
                排行榜
                <span class="am-icon-caret-down"></span>
              </a>
              <ul class="am-dropdown-content">
                <li>
                  <a onclick="innerPageGetTagData('住建部','房企100强','1','排行榜')">房企100强</a>
                </li>
              </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown>
              <a class="am-dropdown-toggle" data-am-dropdown-toggle>
                交易所
                <span class="am-icon-caret-down"></span>
              </a>
              <ul class="am-dropdown-content">
                <li>
                  <a onclick="innerPageGetTagData('','上海证券交易所','2','交易所')">上海证券交易所</a>
                </li>
                <li>
                  <a onclick="innerPageGetTagData('','深圳证券交易所','2','交易所')">深圳证券交易所</a>
                </li>
                <li>
                  <a onclick="innerPageGetTagData('','香港证券交易所','2','交易所')">香港证券交易所</a>
                </li>
              </ul>
            </li>
            <li >
              <a href="#">新三板</a>
            </li>
            <li>
                <a href="./newsCenter.html">新闻中心</a>
            </li>
          </ul>
          <div class="am-topbar-right">
              <!--未登录-->
              <ul class="am-nav am-nav-pills am-topbar-nav" style="display: none;" id="isLogin">
                  <li>
                      <a href="../login.html">登陆</a>
                  </li>
                  <li>
                      <a href="./register.html">注册</a>
                  </li>
              </ul>
              <!--已登录-->
              <ul class="am-nav am-nav-pills am-topbar-nav" style="display: none;" id="isLogout" >
                  <li>
                      <a href="#" id="vipName"></a>
                  </li>
                  <li>
                      <a id="logout">退出</a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </header>
  <!-- 头部导航 -->

  <!-- 内容区域 -->
<div  id="main">

    <div class="am-g am-g-minH">
        <div class="am-u-sm-8 am-u-sm-centered">
            <ol class="am-breadcrumb">
                <li>
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">
                        <span v-text="breadItemUp"></span>
                    </a>
                </li>
                <li class="am-active">
                    <span v-text="breadItem"></span>
                </li>
            </ol>
        </div>
     <!-- 展示列表 -->
      <div class="am-u-sm-8 am-u-sm-centered">
         <div class="news-content-warp ">
          <div class="am-panel am-panel-default am-panel-noborder  " >
            <div class="am-panel-hd white-bgcolor" v-show="isShow.count">
                <span> 找到<span class="am-text-danger" v-text="all"></span>符合条件的企业
                <button class="btn am-btn  am-btn-primary am-fr btn-export"> <i class="am-icon-save"></i> 导出</button>
                <button class="btn am-btn am-btn-primary am-fr  btn-chart" @click="goChart"> <i class="am-icon-bar-chart"></i> 图表</button>
                  <!--<span class=" am-fr">
                      <select class="am-btn am-btn-secondary" v-model="selected" @change="Search">
                          <option value="asc">排序A-Z</option>
                          <option value="desc">排序Z-A</option>
                      </select>
                  </span>-->
                </span>
              </div>
            <div class="am-panel-bd">
                <div class="matched-company listActive" v-for="con in contentList"  @click="goDetail(con.Seq_No)">
                  <div class="title"><span v-text="con.Account_Name"></span><span class="am-fr"><a >查看</a></span></div>
                  <div class="description"> <span>法定代表人:<span class="name m-l" v-text="con.Legal_Person"></span> </span> <span class="m-l">注册资本：<span v-text="con.Registered_Capital"></span></span> <span>成立时间：<span v-text="con.Start_Year"></span> </span> </div>
                  <div class="description"> <span>电话:<span class="m-l" v-text="con.Company_Phone"></span> </span> <span class="m-l">邮箱：<span v-text="con.Email_Domain"></span></span>  </div>
                  <div class="description"> <span>地址:<span class="m-l" v-text="con.Street"></span> </span> </div>
                </div>
            </div>
         </div>
        </div>
    </div>
    <div v-show="isShow.loading" class="loading"></div>
        <!--分页-->
    <div class="am-u-sm-8 am-u-sm-centered" v-show="isShow.pagination">
        <div class="am-fl">
            <ul class="am-pagination am-pagination-size">
                <li v-if="cur==1" :class={"am-disabled":cur==1}><a>&lt;</a></li>
                <li v-if="cur>1"><a @click="cur--,pageClick()">&lt;</a></li>
                <li v-for="index in indexs"  :class="{ 'am-active': cur == index}">
                    <a @click="btnClick(index)" v-text="index"></a>
                </li>
                <li v-if="cur==allPage" :class={"am-disabled":cur==allPage}><a>&gt;</a></li>
                <li v-if="cur!=allPage"><a @click="cur++,pageClick()">&gt;</a></li>
                <li>共</li>
                <li v-text="allPage"></li>
                <li>页</li>
                <li>跳到</li>
                <li><input type="number" v-model="goPage"></li>
                <li>页</li>
                <li><button @click="Go()">GO</button></li>
            </ul>
        </div>
    </div>
   </div>
  <!--内容区域  -->
</div>
    <!-- 底部导航 -->
<div class="layout-footer">
        <div class="container ">
            <div class="footer_main ">
                <div class="am-g am-u-sm-8 am-u-sm-centered">
                    <p class="footer-logo">
                        <img src="../images/foot_gomine_logo.png" alt="">
                    </p>
                    <div class="am-u-md-6">
                        <div >
                            <p>
                                Rm.B-702,Bldg.1,Zhubang 2000 Business Center, No。100 Balizhuang Xili, Chaoyang District,Beijing
                            </p>
                            <p>
                                <a href="">
                                    <i class="am-icon-phone"></i> +86-10-87510736</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="">
                                    <i class="am-icon-envelope-o"></i> marketing@gomine.cn</a>
                            </p>
                            <p>Copyright©GOMINE.CN All right Reserved.京ICP备05075516号</p>
                        </div>
                    </div>
                    <div class="am-u-md-6 ">
                        <strong>
                            <p> subscribe for upgrates</p>
                        </strong>
                        <div>
                            <p>
                                <div class="am-input-group am-btn-group-lg">
                                    <input type="text" class="am-form-field" placeholder="enter your email address">
                                    <span class="am-input-group-btn footer_right-input">
                                        <button class="am-btn am-btn-default " type="button">
                                            <span class="am-icon-envelope-o"></span>
                                        </button>
                                    </span>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部导航 -->
  <!-- 开发版本 -->
  <script src="../js/jquery/jquery-3.3.1.min.js"></script>
  <script src="../js/vue/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.js"></script>
  <script src="../js/common.js"></script>
  <script src="../js/labelSearch.js"></script>

  <!-- 线上压缩版本 -->
  <!-- <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script> -->
</body>

</html>